.Button {
  cursor: pointer;
  border: 1px solid rosybrown;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.Button_positive {
  background-color: #9dadf7;
  counter-reset: white;
}

.Button_negative {
  background-color: #ebac94;
  counter-reset: white;
}

.Button_default {
  background-color: #f1f3f1;
  counter-reset: black;
}
