.Button {
  cursor: pointer;
  border: 1px solid rgb(192, 188, 188);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.Button_positive {
  background-color: #291ab8;
  color: white;
}

.Button_negative {
  background-color: #fc6c33;
  color: white;
}

.Button_default {
  background-color: #f1f3f1;
  color: black;
}
